<h1>Pagila sample database</h1>
<p>Browse tables from the <a href="https://github.com/devrimgunduz/pagila" target="_blank" rel="noopener">Pagila</a> PostgreSQL sample database.</p>
<ul>
  <li><%= link_to "Films", pagila_films_path %></li>
  <li><%= link_to "Actors", pagila_actors_path %></li>
  <li><%= link_to "Categories", pagila_categories_path %></li>
  <li><%= link_to "Customers", pagila_customers_path %></li>
</ul>
