default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  url: <%= ENV.fetch("DATABASE_URL", "postgres://postgres:postgres@localhost:5432/pagila") %>

test:
  <<: *default
  url: <%= ENV.fetch("DATABASE_URL_TEST", "postgres://postgres:postgres@localhost:5432/pagila_test") %>

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
